<html>
    <head>
        <title>NEO's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.facebook.com/keshav.kumarjha.5621">NEO's blog</a></h1>
        </div>


        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="https://www.facebook.com/keshav.kumarjha.5621">{{ post.title }}</a></h1>
            <p>{{ post.txt|linebreaksbr }}</p>
        </div>
        {% endfor %}
        
    </body>
</html>