<html>
    <head>
        <title>NEO's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.facebook.com/keshav.kumarjha.5621">NEO's blog</a></h1>
        </div>


        <div>
            <p>published: 19.08.2018, 02:20</p>
            <h1><a href="https://www.facebook.com/keshav.kumarjha.5621">Halo amigos!!!</a></h1>
            <p>This is the place where you will get<br />
                <b>stories</b>, <b>poems</b> and much more.<br />
            So stay tuned.</p>
        </div>
        {% endfor %}

    </body>
</html>